.setupPanel {
  /* background: rgb(1, 81, 150); */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.2rem;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.setupPanel > h1 {
  animation: glow 3s ease-in-out infinite alternate;
}

.btnBack {
  font-weight: 900;
  background-color: transparent;
  border: solid 1px orange;
  color: white;
}

.btnBack:hover {
  color: orange;
}

.btnBack:hover {
  filter: drop-shadow(0 0 0.75rem orange);
}

.btnGo {
  font-weight: 900;
  background-color: orange;
  color: #ffe3c2;
}

.btnGo:hover {
  filter: drop-shadow(0 0 0.75rem orange);
  color: white;
}

.waitingTitle {
  text-align: center;
  margin-bottom: 1em;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate,
    grow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate,
    grow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate,
    grow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
  }
  to {
    text-shadow: 0 0 12px #ff9419, 0 0 18px #ff9419, 0 0 36px #ff9419;
  }
}

@keyframes glow {
  from {
  }
  to {
    text-shadow: 0 0 12px #ff9419, 0 0 18px #ff9419, 0 0 36px #ff9419;
  }
}

@keyframes grow {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.3);
  }
}

@-webkit-keyframes grow {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.3);
  }
}

.teamList {
  margin: 1em;
  padding: 1em;
  background-color: #ffffff33;
  border-radius: 0.2em;
  font-size: 2rem;
  font-weight: bolder;
  flex: 1;
}

.teamList > h2 {
  text-align: center;
  color: rgb(2, 68, 126);
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
}

.teamMembers > h3 {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5em;
}

.vl {
  border-left: 2px solid #ff9419;
  height: auto;
}
