.btn {
  margin: calc(var(--spacing) * 2);
  width: 100%;
}

.btn > button {
  width: 100%;
  color: orange;
  font-size: large;
  border: 1px solid orange;
}

.btn > button:hover {
  background-color: orange;
  color: white;
  transition: all 0.3s ease-in-out;
}
